* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.carousel-item {
  height: 680px;
}
.c-image {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.8);
}
.brand-name:hover {
  transform: scale(1.02);
}

.nav-item:hover {
  transform: scale(1.1);
  transform-origin: left;
}
.cart:hover {
  transform: scale(1.1);
  transform-origin: left;
}
.heart:hover {
  transform: scale(1.1);
  transform-origin: left;
}
.location:hover {
  transform: scale(1.1);
  transform-origin: left;
}
.navbar-brand:hover {
  transform: scale(1.1);
  transform-origin: left;
}
.form-control {
  cursor: pointer;
}

.category-text {
  text-decoration: none;
  transition: all 0.2s;
}

.category-text:hover {
  border-bottom: 1px solid;
  border-bottom: 1px solid rgb(0, 164, 183);
}
.collection-text {
  text-decoration: none;
}

.card img {
  border-radius: 50px;
  padding: 20px;
}
.card {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.card-body a {
  border-radius: 50px;
  width: 120px;
}
.card-body a:hover {
  background-color: rgb(27, 25, 25);
}
#about{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}
#about{
  background-color: hsl(186, 100%, 40%);
}

.text-about{
  font-style: italic;
  font-size: 6.5rem;
  text-align: center;
  padding-bottom: 20px;
  font-family: AnastasiaScript;
  font-weight: bold;
  text-shadow: 4px 4px 2px hsl(186, 100%, 70%)
}
.warranty, .services{
 font-style: italic;
  font-weight: bold;
  text-align: center;
}


.find-out{
  margin-top: 5%;
  margin-left: 50px;
  font-weight: bold;
}
iframe{
  width: 700px;
  height: 500px;
}
.contact-text{
  margin-top: 5%;
  font-weight: bold;
}
.contact-form{
  margin-top: 8%;
}
#footer{
  font-size: 16px;
  font-family: "Agency FB", sans-serif;
  color: white;
  background-color: #343434;
  padding-top: 50px;
  margin-top: 30px;
}
.footer-container{
  margin: auto;
  width: 1140px;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-content{
  width: 33.3%;
}
