* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#myNavbar {
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
}

#myNavbar.hide {
  top: -50px;
}

.carousel-item {
  height: 680px;
}
.c-image {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.8);
}
.brand-name:hover {
  transform: scale(1.02);
}

.nav-item:hover {
  transform: scale(1.1);
  transform-origin: left;
}
.cart:hover {
  transform: scale(1.1);
  transform-origin: left;
}
.heart:hover {
  transform: scale(1.1);
  transform-origin: left;
}
.location:hover {
  transform: scale(1.1);
  transform-origin: left;
}
.navbar-brand:hover {
  transform: scale(1.1);
  transform-origin: left;
}
.form-control {
  cursor: pointer;
}
.card-body-1 img{
  border-radius: 50%;
}
.card-body-1 a{
  text-decoration: none;
  transition: all;
}

.card-body-1 a:hover {
  border-bottom: 2px solid rgb(0, 164, 183);
}
.collection-text {
  text-decoration: none;
}

.card img {
  border-radius: 50px;
  padding: 20px;
}
.card {
  box-shadow: rgba(14, 30, 37, 0.12) 0 2px 4px 0,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.card-body a {
  border: none;
  border-radius: 50px;
  width: 120px;
}
.card-body a:hover {
  background-color: rgb(27, 25, 25);
}
#about{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  background-color: hsl(186, 100%, 40%);
}

.text-about{
  font-style: italic;
  font-size: 6.5rem;
  text-align: center;
  padding-bottom: 20px;
  font-family: AnastasiaScript;
  font-weight: bold;
  text-shadow: 4px 4px 2px hsl(186, 100%, 70%)
}
.warranty, .services{
 font-style: italic;
  font-weight: bold;
  text-align: center;
}


.find-out{
  margin-top: 5%;
  margin-left: 50px;
  font-weight: bold;
}
iframe{
  width: 700px;
  height: 500px;
}
.contact-text{
  margin-top: 5%;
  font-weight: bold;
}
.contact-form{
  margin-top: 8%;
}
#footer{
  background-color:hsl(186, 100%, 40%);;
  margin-top: 30px;

}
.footer-section {
  display: inline-block;
  width: 30%;
  margin: 1rem;
  vertical-align: top;
  justify-content: center;
  align-items: center;
  text-align: center;

}
.footer-section__title {
  color: black;
  font-size: 28px;
  font-weight: bolder;
}
ul{
  list-style: none;
}
.footer-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 25px;
 font-weight:700;
}

.footer-links{
  font-size: 20px;
  font-weight:700;
  max-height: max-content;
}

address{
  font-size: 20px;
  font-weight:700;
}

address p a {
  color: #023275;;
  font-style: italic;
  transition: color 0.5s ease;
}
address p a:hover{
  color: hsl(186, 100%, 50%);
}
.footer-links a {
  color:  #023275;
  font-style: italic;
  transition: color 0.5s ease;
}

.footer-links a:hover {
  color: hsl(186, 100%, 50%);

}

.footer-icons i {
  color:  #023275;
  font-style: italic;
  transition: color 0.5s ease;
}
.footer-icons i:hover {
  color: hsl(186, 100%, 50%);
}

.bottom-bar{
  background: hsl(186, 100%, 20%);
  padding: 20px 0;
  text-align: center;
  font-size: 16px;
  font-weight: bolder;
}