* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* html ::-webkit-scrollbar-track {
  background: transparent;
}
html ::-webkit-scrollbar-thumb {
  background: #b2744c;
  border-radius: 10px;
}
html ::-webkit-scrollbar {
  width: 10px;
} */

.carousel-item {
  height: 680px;
}
.c-image {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.8);
}
.brand-name:hover {
  transform: scale(1.1);
}

.nav-item:hover {
  transform: scale(1.1);
  transform-origin: left;
}
.cart:hover {
  transform: scale(1.1);
  transform-origin: left;
}
.heart:hover {
  transform: scale(1.1);
  transform-origin: left;
}
.location:hover {
  transform: scale(1.1);
  transform-origin: left;
}
.form-control {
  cursor: pointer;
}
